.logo {
  font-size: 28px;
  color: inherit;

  text-transform: uppercase;
  text-decoration: none;

  margin-right: 48px;
}

.link {
  color: inherit;

  text-transform: uppercase;
  text-decoration: none;
}
