.main {
  display: flex;
  height: 100%;
}

.menu-links {
  display: flex;
  justify-content: center;
  gap: 50px;

  margin: auto;

  text-transform: uppercase;
}

.link {
  font-weight: 500;
  color: #0288d1;
  text-decoration: none;
}
